.event-container {
  color: #333;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  width: 350px;
}

.gradient-background {
  background: linear-gradient(to bottom, #ff9a9e, #cca550);
  /* Fallback for older browsers */
  background: -webkit-linear-gradient(to bottom, #ff9a9e, #deaa57);
  background: -moz-linear-gradient(to bottom, #ff9a9e, #e6ae4e);
}

.gradient-background2 {
  background: linear-gradient(to bottom, #113aef, #f251f2);
  /* Fallback for older browsers */
  /* background: -webkit-linear-gradient(to bottom, #ff9a9e, #deaa57);
  background: -moz-linear-gradient(to bottom, #ff9a9e, #e6ae4e); */
}

.event-header {
  display: flex;
  align-items: center;
}

.event-display-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.event-uploader {
  font-weight: bold;
}

.event-details {
  margin-top: 10px;
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.event-info {
  font-style: italic;
  margin-bottom: 10px;
}

.event-description {
  margin-bottom: 10px;
}

/* .event-footer {
    text-align: center;
  } */

.event-footer button {
  padding: 10px 20px;
  font-size: 1em;
}
