.event-container {
  color: #333;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  width: 350px;
}

.gradient-background {
  background: linear-gradient(to bottom, #ff9a9e, #cca550);
  /* Fallback for older browsers */
  background: -webkit-linear-gradient(to bottom, #ff9a9e, #deaa57);
  background: -moz-linear-gradient(to bottom, #ff9a9e, #e6ae4e);
}

.gradient-background2 {
  background: linear-gradient(to bottom, #113aef, #f251f2);
  /* Fallback for older browsers */
  /* background: -webkit-linear-gradient(to bottom, #ff9a9e, #deaa57);
  background: -moz-linear-gradient(to bottom, #ff9a9e, #e6ae4e); */
}

.event-header {
  display: flex;
  align-items: center;
}

.event-display-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.event-uploader {
  font-weight: bold;
}

.event-details {
  margin-top: 10px;
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.event-info {
  font-style: italic;
  margin-bottom: 10px;
}

.event-description {
  margin-bottom: 10px;
}

/* .event-footer {
    text-align: center;
  } */

.event-footer button {
  padding: 10px 20px;
  font-size: 1em;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-uploader-container {
  display: flex;
  align-items: center;
}

.event-uploader {
  margin-left: 10px; /* Adjust as needed for spacing */
}

.bi-three-dots-vertical {
  cursor: pointer;
}

.menu {
  /* position: absolute; */
  top: 30px;
  right: 0;
  /* background: white; */
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 0;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-title {
  margin: 0;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 15px;
}